[2018-01-31 00:52] whitewolf33 opened #2 "iOS - Native linking error. Framework not found TwilioChatClient"
Hi,

I downloaded the zip folder and tried to build the solution (with iOS as the startup) but I am experiencing the "

" Issue. Would be good to have the sample solution ready to build without having to fix the native linking issues.

_Have not tried the Android yet but will let you know once I have tried it._

Have uploaded the file which describes the errors while trying to run the ChatDemo.iOS

[2018-01-31 07:46] aleksandrsivanovs commented on #2
Hi!

have you built the actul bindings beforehand?

in the readme there is section
[code]

this script will fetch the dependencies and do the building of bindings.
after that you can build the sample project.

also, the built bindings are already available on the nuget.org: https://www.nuget.org/packages/Twilio.Chat.Xamarin/

[2018-01-31 20:40] whitewolf33 commented on #2
Hi Aleksandr;

I did not build the bindings earlier. Will try that soon.

Regarding Nuget:
Droid - I could install the nuget package successfully for android project. Have not run it yet.

iOS - Gives an error while trying to add the package...

Is this just an Android specific nuget?

Could not see any other nuget package from the Author in nuget
https://www.nuget.org/profiles/rtd-sdk-xamarin

Pl

[2018-02-01 07:57] aleksandrsivanovs commented on #2
it's both Android and iOS binding. I will check the version (and this nuget is published by us, build from source in this repo)

[2018-02-01 09:58] aleksandrsivanovs commented on #2
there is a problem indeed.
I'm trying to fix it - new version will be released to nuget.org hopefully today.
thanks for the report! (somehow, completely missed it)

[2018-02-01 11:20] aleksandrsivanovs commented on #2
new version is published in nuget.org, v0.1.1
I've verified it to be working (with local nuget repo publish / consume).

currently it's in review form nuget.org, will post here the update when it will be available

[2018-02-01 11:22] whitewolf33 commented on #2
Sounds good. Please do post a message when the latest is available in nuget. Keen to try it out. Thanks for the quick turn around.

[2018-02-01 11:28] aleksandrsivanovs commented on #2
now verified by nuget.org, v0.1.1 is here: https://www.nuget.org/packages/Twilio.Chat.Xamarin/0.1.1

please close the issue if the install was successful.

[2018-02-01 11:29] whitewolf33 commented on #2
Will do. Thanks.

[2018-02-01 12:35] whitewolf33 commented on #2
Got the nuget packages to install in ChatDemo sample iOS project from github but unable to build the iOS project.

Have tried restarting VS Mac
Have downgraded XF to 2.4
Completely cleared the bin and obj
Unloaded all Droid and Native binding projects

But no luck. Since it is third party lib I do not get to see the method causing the issue.

Have not tried building the ChatDemo solution. Does the

[2018-02-01 12:57] aleksandrsivanovs commented on #2
just tried to rebuild the ChatDemo sample iOS project and run on simulator (with both locally built binding and installed from nuget.org) - all works fine.
please try out ChatDemo sample :)

will try to find out what's the problem with mentioned error.

[2018-02-01 13:02] whitewolf33 commented on #2
OK. Got it to work. Setting the SDK Version to 11.2 (explicitly) and/ or setting the Linker to Do not link ( I think I changed this previously trying to make things work), did the trick.

Can you please help me with the Identity : Is this the Chat ServiceID or the Twilio AccountSID?
Also, the Token provider URL? Where should I look for this?

Please excuse my limited knowledge with Twilio. Had the

[2018-02-01 13:08] aleksandrsivanovs commented on #2
there is small section in readme in regards to setup the token provider for sample app:
https://github.com/twilio/TwilioChatXamarinBindings#common

identity will be baked into the twilio access token (more info on access tokens can be found here:
https://www.twilio.com/docs/api/rest/access-tokens)

the sample JS code for Twilio Runtime which I've used in the sample app is also available on github

[2018-02-01 13:10] whitewolf33 commented on #2
Read through the Read Me again and.. got to know about the Twilio Runtime Function. Will give it a shot. Thanks for your prompt response.

Closing this issue now.

[2018-02-01 13:10] #2 closed

[2018-02-03 11:10] whitewolf33 opened #3 "iOS - System.ExecutionEngineException: Attempting to JIT compile method"
Hi @aleksandrsivanovs

After successfully getting the chatToken for the Identity and the TokenProvider URL (using Twilio Functions as recommended), an exception is thrown while trying to create the chat client with the token.

Exception details:

Line of code where the exception is thrown:

https://github.com/twilio/TwilioChatXamarinBindings/blob/master/Sample/ChatDemo.iOS/TwilioChatHelper.cs#L63

[2018-02-03 11:13] whitewolf33 commented on #3
I tried creating the instance of the TwilioChatClient and update the token, but had the same error thrown.

[code]

[2018-02-05 09:05] aleksandrsivanovs commented on #3
Hi!

I've tried to compile the sample with packages installed from nuget.org and ran it on actual device and in simulator - all works as it supposed to.

can you try to update your visual studio? (first time I'm seeing this error, however, some of the forums advices to upgrade the VS itself)

[2018-02-05 10:43] whitewolf33 commented on #3
Hi @aleksandrsivanovs

I am already on the latest version. For the benifit of the doubt, I downloaded the sample again and without changing anything but removing the reference to the Twilio.Chat.iOS project and adding the reference to the nuget package 0.1.1 in the ChatDemo.iOS project, I am getting a

 error.

This error is not exactly the same as I had mentioned but it is in the same exact line.

[2018-02-05 10:59] whitewolf33 commented on #3
I tried to create a sample from scratch and created a Blank Forms App with PCL and tried to add the Twilio.Chat.Xamarin nuget to the PCL project, to have the interface ITwilioChatHelper in the PCL project. But looks like the package is not compatible with PCL Profile 111

Is this intentional that the nuget is not supporting the PCL or does the package support profile other than 111? Can you please

[2018-02-05 11:25] aleksandrsivanovs commented on #3
iirc, "Method 'ObjCRuntime.BlockLiteral.SetupBlockUnsafe' not found" is because you don't have latest xamarin.ios installed. about PCL - not intentional for sure, I have to investigate more.

[2018-02-05 11:29] aleksandrsivanovs commented on #3
and, yes, compiled and run (and login and got to working state) the attached zipped solution without problems. smth is strange in the setup itself. frankly speaking, I don't know what can it be :(

[2018-02-05 11:35] whitewolf33 commented on #3
Hi @aleksandrsivanovs

Let me try it on my other Mac and will report back.  Given that there was an issue with the nuget package for iOS, has anyone else tried installing it? Can you please try it on another machine apart from your Dev machine? I am also interested in the nuget package to be compatible with the PCL project (Should I raise a seperate issue to avoid distractions? Please let me know)

[2018-02-05 11:41] aleksandrsivanovs commented on #3
for PCL compatibility please raise another issue to track it separately.

as for my Xamarin.iOS:  11.8.0.8
seems like here is the main problem you are mentioning.
not sure how to downgrade, though.
will try and then will report back (this will take some time, though)

[2018-02-05 12:05] whitewolf33 commented on #3
I can confirm that the Sample project has got the Missing Method Exception.

I downloaded the sample project on another Mac (similar versioning - latest stable), and had the same issue, as mentioned above.

Method 'ObjCRuntime.BlockLiteral.SetupBlockUnsafe' not found.

[2018-02-05 12:09] whitewolf33 opened #4 "PCL - Twilio.Chat.Xamarin.0.1.1 is not compatible with PCL"
Tried to install the Twilio.Chat.Xamarin nuget package v0.1.1 to a PCL project (profile 111), by creating a Blank App in VS Mac and found out that the package is not compatible.

Version of the package: 0.1.1

VS Mac Version: 7.3.3.12

Steps to Reproduce;

1. Open VS Mac
2. File => New Solution
3. Select Blank App (with PCL)
4. In the PCL project, add nuget reference to Twilio.Chat.Xamarin

Detail

[2018-02-05 12:51] aleksandrsivanovs commented on #3
so, downgraded to:
[code]

built new version of the package (0.1.2), deployed to local nuget store, installed from it and ran the app on standalone version - all is good.

the question is - I would like you to try it out first on your setup.
however, I can't find good way to share new nupkg with you, how can we arrange this binary transfer? :)

[2018-02-06 12:02] whitewolf33 commented on #3
Tried the nuget package 0.1.2 with the chatdemo project for iOS and it is a winner. Can see the message logs for a given identity. Nice work!

Eagerly waiting for the PCL issue to be resolved to try it out. Will close this issue now.

![chatdemo_logs](https://user-images.githubusercontent.com/4328043/35858712-97ef40e8-0b91-11e8-9f9a-760982992226.jpg)

[2018-02-06 12:02] #3 closed

[2018-02-06 12:10] aleksandrsivanovs commented on #3
awesome, I'll publish 0.1.2 to the nuget.org then.

thanks for report and cooperation :)

[2018-02-06 15:18] aleksandrsivanovs commented on #3
published as 0.1.2: https://www.nuget.org/packages/Twilio.Chat.Xamarin/0.1.2

[2018-02-07 11:20] whitewolf33 commented on #4
Hi @aleksandrsivanovs;

Is there any ETA on this fix?

I am planning to build a chat sample with PCL and have a full chat conversation between 2 users by creating a channel.

Does the current native binding done for Twilio.Chat.Xamarin support this? Please let me know so I will be prepared what to expect.

Thanks.

[2018-02-07 12:26] aleksandrsivanovs commented on #4
afaik, PCL requires win8 and wpa81 libraries and our current binding is wrapping Android library and iOS library (with different interfaces) - so, the answer is that we don't support PCL in this release.

and I can't comment on win8/win10/uwp readiness anytime soon :)

[2018-02-07 12:27] aleksandrsivanovs commented on #4
I'll close this issue if you have nothing against it :)

[2018-02-07 12:27] #4 closed

[2018-03-06 21:31] whitewolf33 opened #6 "Chat Demo to have actual Chat functionality"
Hi;

Given the sample is for Twilio Chat, can you please update the sample to have the actual chat functionality included apart from displaying the Log?

[2018-03-07 19:28] Daron-Rice opened #7 "result.IsSuccessful returns null"
https://github.com/twilio/TwilioChatXamarinBindings/blob/d1645d00ef49548d028bc853ae0220a3350671c0/Sample/ChatDemo.iOS/TwilioChatHelper.cs#L67

I have a valid token but result.IsSuccessful returns null...(I am assuming because chatClient is null also)...where does chatClient get it's value?

[2018-03-08 19:30] aleksandrsivanovs commented on #7
chatClient is created from the factory `TwilioChatClient.ChatClientWithToken` and should be returned in callback. can you, please, turn on logging to debug/trace and then provide logs? (ofc, removing token from logs and other sensitive information?

[2018-05-30 22:47] augustohug opened #9 "TwilioAccessManager.Create not Exists"
The method is not exists. What is another method that replace this?

[2018-06-20 07:05] flyingxu opened #10 "iOS project can't compile for simulator"
I open the solution and set the ChatDemo.iOS as startup project, select `Debug | iPhoneSimulator` and compile.

[code]

It seems that `TwilioChatClient.framework.zip` is needed but it's not found

[2018-06-20 07:42] flyingxu commented on #10
Then I downloaded the .framework file from https://www.twilio.com/docs/chat/sdk-download-install
and I got `TwilioChatClient.framework`.

In `TwilioChatXamarinBindings/Twilio.Chat/Twilio.Chat.iOS/` I created a new folder named `Binding`, and put the `TwilioChatClient.framework` inside it.

Then I compiled and it passed compiling.

[2018-06-20 07:42] #10 closed

[2018-06-20 07:49] aleksandrsivanovs commented on #10
I will check on the next release. thanks for the report

[2018-06-20 08:31] flyingxu opened #11 "What's the "Identity" and the "Token Provider URL" to login the demo?"
When I run the demo app, "Identity" and "Token Provider URL" are needed to login.

For Identity, is it my twilio "Account Sid" or my Chat Service SID (I created a chat service in Twilio Console)?

[2018-06-20 08:47] berkus commented on #11
No,

you as a developer should provide users with login infrastructure, using Twilio building blocks.

"Identity" is the name of your user in your service, you define what it is - an unique id, email, or something else.

Token Provider is the service you wrote to authenticate that user, validating that "Identity" is actually why they claim they are. If authentication is successful, your Token Prov

[2018-07-09 16:21] jetri opened #12 "Request to EMS service has failed, unable to set FPA token"
Hi,

Can you please help!

I'm getting an the error using this token that I generated using a Twilio function.
I've also already removed endpointid in the token as well.
Not sure what else I'm doing wrong.  Thanks!

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTS2Y2NzAzMzNiZDUyNTJiNmJlZDZkYzU2ZDg5MjgxZTFjLTE1MzExNTMwNTMiLCJncmFudHMiOnsiaWRlbnRpdHkiOiJhIiwiaXBfbWVz

[2018-07-09 18:06] berkus commented on #12
Hi, your token looks valid; let me investigate a bit, I'll get back to you.

[2018-07-09 19:01] berkus commented on #12
Hi, could you please collect the logs for the token call that fails for you?

[2018-07-09 23:59] jetri commented on #12
Thanks for helping look into this @berkus! Here's the log:

`[TWC:]        -2086143632 | 07/10/00:17:47.734 | DEBUG    |  | Using root certificate store: /data/user/0/com.twilio.rtd.xamarin.ChatDemo/files/rootcert.pem
[TWC: IoService]        -2086143632 | 07/10/00:17:47.741 | INFO     | IoService | Creating 16 threads in the executor pool
[TWC: TNTwilsockClient]        -2086143632 | 07/10/00:17:47

[2018-07-10 07:29] berkus commented on #12
Hi!

Thanks for the log, it's clear now what happens.

`"code":401,"status":"AUTHENTICATION_FAILED"`

the token you have received from the auth service is in the JSON format `{"token": <actual twilio token here>}` but you pass it to twilio as a string; so it becomes something unparseable in incorrect format.

Just extract the actual token by using `token["token"]` when initializing ChatClient.

[2018-07-10 07:41] berkus commented on #11
Closing as there's no further activity. Reopen if you have other questions regarding Identity.

[2018-07-10 07:41] #11 closed

[2018-07-11 15:14] Daron-Rice commented on #12
Hello @berkus , i am having the same issue as @jetri.

Here is the token returned from the twilio runtime function:

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTSzA0ZTM3YWE4ZDJiMGQwYjg4NzhhZTY4MTExODJlMmM0LTE1MzEzMjA1MDciLCJncmFudHMiOnsiaWRlbnRpdHkiOiJ2ZWx2YSIsImNoYXQiOnsic2VydmljZV9zaWQiOiJJUzU0Njc5NmQ0ZDI2ZDRjOGJhMjE0ZmQwNzU2YjYyYzA0IiwicHVzaF9jcmVkZW50aWFsX3N

[2018-07-11 15:45] berkus commented on #12
@Daron-Rice you have invalid field in your token: `"push_credential_sid": "BAb1RLh6cSfxJX8ePgNADdwj_dEqj0NidyVrIomp7Nw2hPwvhhbMM_BU-Kj4qYhhckQfX2yNPbobwe_nXnSBFsY"` have you tried connecting with correct Push SID or without SID at all?

Push Credential SIDs are listed in your [Twilio Console](https://www.twilio.com/console/notify/credentials) under `Notify` > `Push Credentials` in column `SID`.

[2018-07-11 21:36] Daron-Rice commented on #12
i have fixed that now by putting the proper push_credential_sid value in the that field but i am still getting the same issue...

here is the new token:

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTSzA0ZTM3YWE4ZDJiMGQwYjg4NzhhZTY4MTExODJlMmM0LTE1MzEzNDQ1NTMiLCJncmFudHMiOnsiaWRlbnRpdHkiOiJ2ZWx2YSIsImNoYXQiOnsic2VydmljZV9zaWQiOiJJUzU0Njc5NmQ0ZDI2ZDRjOGJhMjE0ZmQwNz

[2018-07-14 07:38] berkus commented on #12
Check that your account SID and secret key SID match. Also check that this service SID belongs to the account. Maybe there's a typo?

I could check in more details on monday.

[2018-07-17 16:30] Daron-Rice commented on #12
![image](https://user-images.githubusercontent.com/9286551/42831670-ef55d9c4-89bc-11e8-9ab6-59873e08ce3f.png)

![image](https://user-images.githubusercontent.com/9286551/42831694-03378500-89bd-11e8-863f-ffe9dbf29595.png)

@berkus  - you were right...i did have the wrong push credential. But posted above is images proving that i fix the push credential issue...but i am still seeing the same problem

[2018-07-18 08:45] berkus commented on #12
@Daron-Rice and @jetri please do check that you are using proper non-revoked *signing keys* (the ones with SKxxxx SIDs) and update your token generator to use correct ones.

[2018-07-18 21:36] Daron-Rice commented on #12
i had a stale api key...but after swapping it out, i still had the same issue...here is where is the logs and where i am getting the values from:

![image](https://user-images.githubusercontent.com/9286551/42908271-7a3dd590-8aae-11e8-85a2-c88e9058597d.png)

![image](https://user-images.githubusercontent.com/9286551/42908451-f9f41c54-8aae-11e8-8aa6-56a737ac4fd5.png)

![image](https://user-images.gi

[2018-07-18 21:38] berkus commented on #12
This doesn't tell me much, but another rounds of logs could help.

[2018-07-20 16:30] Daron-Rice commented on #12
here is the most recent logs....

[TWC:]        -1652070096 | 07/20/12:25:52.304 | DEBUG    |  | Using root certificate store: /data/user/0/com.twilio.rtd.xamarin.ChatDemo/files/rootcert.pem
[TWC: IoService]        -1652070096 | 07/20/12:25:52.319 | INFO     | IoService | Creating 16 threads in the executor pool
[TWC: TNTwilsockClient]        -1652070096 | 07/20/12:25:52.322 | DEBUG    | 1      |

[2018-07-20 16:38] berkus commented on #12
`"description":"Invalid Access Token issuer/subject"`

I presume you've used unrelated Account and secret key, check your values:
[code]

[2018-07-20 16:56] Daron-Rice commented on #12
"SKa33b4f057e516366f85015389c28a237" - i had been using this as the api key instead of the secret(according to your last message, it should be the secret, not the key)...i going to try swapped the key and secret around then posting the logs if it is not successful.

[2018-07-20 17:06] berkus commented on #12
Well, they seem to be in the right positions, issuer is the secret key and subject is the account.

I mean you may be using a wrong key that is not for your account. (SK is only the SID, be sure to match the actual secret key and it's sid, too)

[2018-07-20 17:20] Daron-Rice commented on #12
i am using these values:

"AC0beb085d58bcfea5009536018da37923"

"91hSzMPEfENbl7aiNCTHT6faySrJzSrA"

"SKa33b4f057e516366f85015389c28a237"

[2018-07-21 04:44] berkus commented on #12
Well, now that you’ve exposed your secret signing key to the entire internet you will have to revoke that key and generate a new one. When you do that, please make sure it is associated with the correct account SID.

Please note: Repeatedly exposing critical security-sensitive information may lead to suspension of your account.

[2018-07-24 17:55] Daron-Rice commented on #12
ok...understood....Posting another round of logs...token has been left out due to your last post.

.119 ChatDemo.iOS[406:137153] <<<<TwilioChatClient: 0x10c3bb5d0>>>> IoService[3]:        0x16ed3f000 | 07/24/13:50:35.117 | INFO     | IoService | Creating 16 threads in the executor pool
2018-07-24 13:50:35.125 ChatDemo.iOS[406:137528] <<<<TwilioChatClient: 0x10c3bb5d0>>>> TNTwilsockClient[3]:

[2018-07-24 18:11] berkus commented on #12
Token itself is fine to post if it is already expired. It usually doesn't contain anything secret.

[2018-07-25 19:37] Daron-Rice commented on #12
ok.

2018-07-25 15:34:55.798 ChatDemo.iOS[335:66901] [2018-07-25 15:34:55.798] [INFO] [TokenProvider] Got chat token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTS2EzM2I0ZjA1N2U1MTYzNjZmODUwMTUzODljMjhhMjM3LTE1MzI1NDcyOTUiLCJncmFudHMiOnsiaWRlbnRpdHkiOiJWZWx2YSIsImNoYXQiOnsic2VydmljZV9zaWQiOiJJUzU0Njc5NmQ0ZDI2ZDRjOGJhMjE0ZmQwNzU2YjYyYzA0IiwicHVzaF9jcmVkZW50aWFsX3

[2018-09-15 19:21] bryanvam opened #13 "access manager and token refresh"
how is token refreshing handled?

[2018-09-16 09:01] aleksandrsivanovs commented on #13
Hi!

Currently through AccessManager which will tell you with help of events/callbacks that token is about t expire. This functionality (notifying you about token expiration with events/callbacks) will move to the Twilio Chat library itself in the next release, which will be released soon.

Aleksandrs

[2018-09-16 11:16] bryanvam commented on #13
thanks for the quick reply. i was more meaning in the context of this project. i dont see anything referencing the AccessManager. will this project be updated when the chat library gets updated?

[2018-09-16 13:15] aleksandrsivanovs commented on #13
Yes, it's on my to do list after mentioned twilio chat library release

[2018-09-25 07:13] #9 closed

[2018-09-25 08:48] soile1991 opened #14 "Xamarin.Forms support"
It would be nice to have a Xamarin.Forms support.

[2018-10-10 14:17] spalmertwilio opened #15 "Not honoring the Options for createChannelWithOptions"
Support Request #1535778 issue: Not honoring the Options dictionary that we are passing into createChannelWithOptions. Here is the code we are using, it ignores the channel friendly name:

[code]

[2018-10-11 14:51] aleksandrsivanovs commented on #15
Hi!

please use the built-in constants when specifying keys for the options:
i.e. the code should be changed in that way:
[code]

the possible options for channel create options are:
[code]

[2018-11-13 12:52] #15 closed

[2018-11-13 15:18] jamsoft commented on #14
I'm about to integrate this into a Xamarin Forms application.  Depending on how you have architected your solution this should still be doable.

You only need to have an abstraction in the Core.

That said. Twilio, it seems odd to start a new library in 2018 that doesn't target .NetStandard 2.0 ... why was this crucial decision made to not go with this?

[2018-11-19 10:50] soile1991 commented on #14
It's doable with an abstraction in the Core, but it's better to have all the Classes exposed to Shared project Channel Class, Message Class etc.

@jamsoft +1 on .NetStandard 2.0

[2018-11-19 11:02] aleksandrsivanovs commented on #14
we will review it next year, might be this will change.
however, I will need to do some catchup on this.

[2018-12-14 21:43] aleksandrsivanovs commented on #13
we have just released v0.4.0 which drops need for access manager: https://www.nuget.org/packages/Twilio.Chat.Xamarin/

[2018-12-14 21:43] #13 closed

[2018-12-14 21:44] aleksandrsivanovs commented on #12
we have just release new version 0.4.0 at https://www.nuget.org/packages/Twilio.Chat.Xamarin/
please try with the new version

[2019-01-14 02:06] Nullstr1ng opened #17 "Can't run the Droid project"
I can't compile the Droid project. Anyway to resolve this? I already removed and re-added the Twilio.Chat.Android project in ChatDemo.Droid but I keep getting this error.

![image](https://user-images.githubusercontent.com/260633/51093982-d3cdb680-17e3-11e9-943f-3a080989d89e.png)

[2019-01-14 08:56] aleksandrsivanovs commented on #17
Hi!

This project is used for both build Twilio.Chat bindings and for sample app to use the built bindings.
It seems that you are trying to build bindings and do not fetch the underlaying libraries.

If you need to build only sample app, you can change the dependencies in VisualStudio to point from local project reference to actually published nuget package.

If you want to actually build binding

[2019-01-14 08:58] aleksandrsivanovs commented on #12
ok, seems that there is no answer, which, I assume means that the problem is fixed :)

[2019-01-14 08:58] #12 closed

[2019-01-15 00:53] Nullstr1ng commented on #17
I think what I'm missing is the "chat-android.jar" file. Do you have a source where can I get that?

[2019-04-29 05:25] KKS91 opened #18 "Message not received on Android client side"
I've created the android client and sent the message which is received at the Chat Service side but message sent by chat service has not been received on the Android side. It works fine with web client.

I've subscribed to ChatClient.NewMessageNotification API also added handler for Channel.MessageAdded but it is not getting executed.
When I send the message Channel.MessageAdded() gets executed bu

[2019-05-17 13:50] berkus commented on #18
To receive MessageAdded notification you must be online and have a fully synchronized ChatClient.

FCM/APNS is only needed to receive push notifications.

[2019-05-26 08:10] SagarPanwala commented on #14
Any update on this ?
it's very crucial as Xamarin Forms is used on large applications too.

[2019-06-08 10:18] mayurbhavsar45 commented on #2
Guys its working well with nuget package
https://www.nuget.org/packages/Twilio.Chat.Xamarin/

[2019-08-07 09:37] #18 closed

[2019-09-14 18:41] sylendra7 opened #20 "Getting 401 Authorized"
[2019-09-15 00:04:02.062] [INFO] [TokenProvider] Got chat token: {"identity":"1","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJpc3MiOiJTSzczN2U1NzMyZjg1Mjc2OWUxNDhlNDc4OWE5MzllNGFlIiwiZXhwIjoxNTY4NDg5NjQzLCJqdGkiOiJTSzczN2U1NzMyZjg1Mjc2OWUxNDhlNDc4OWE5MzllNGFlLTE1Njg0ODYwNDMiLCJzdWIiOiJBQzg3MWFhNmJjMGJkMjdlYTY0M2Q3MzczNDNkMmFiYjg2IiwiZ3JhbnRzIjp7ImlkZW50aXR5IjoiMS

[2019-09-16 07:38] berkus commented on #20
Hi

This error is usually returned when token is invalid, in your case it's probably because you have too many grants enabled in the token, could you please re-capture logs in the TRACE log level as described [here](https://github.com/twilio/twilio-chat-demo-android/blob/master/REPORT_BUGS.md) and post the log file with unsuccessfuly session?

[2019-09-16 15:21] sylendra7 commented on #20
Thanks @berkus  sent an invalid token .

[2019-09-16 15:21] #20 closed

[2019-09-19 09:10] sylendra7 opened #21 "Push notifications are Not working"
Hi ,

Push Notifications are not working ,I added the PushCredential to the Twilio Console and registered the FCM , but I'm not getting the pushnotification if any one sends a message .

Regards
Sylendra

[2019-09-19 09:57] berkus commented on #21
Hello,

* Do you add this credential to the jwt token?
* Did the FCM registration succeed, was the fcm device ID non-null?

If you could collect and provide the logs of unsuccessful session that would be also helpful.

[2019-09-19 10:26] Namburisairam commented on #21
I'm Getting Below Build Error When Running on Xamarin IOS Project Using Device Version 12.4

Can't resolve the reference 'Foundation.NSArray Foundation.NSArray::FromNSObjects(!!0[])', referenced from the method 'System.Void ObjCRuntime.Trampolines/NIDMessagesCompletion::Invoke(Twilio.Chat.iOS.Result,Twilio.Chat.iOS.Message[])' in 'Xamarin.iOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04

[2019-09-19 13:35] sylendra7 commented on #21
Hi @berkus  ,

I created the push credentials and also added it to the JWT as shown below .

  if (_twilioAccount.ChatServiceSid != String.Empty)
            {
 var chatGrant = new ChatGrant()
                {
                    ServiceSid = _twilioAccount.ChatServiceSid,
                    PushCredentialSid = _twilioAccount.PushCredentialSid
                };

                grants.Add(chatG

[2019-09-19 18:46] berkus commented on #21
@sylendra7 I do hope you do not have the token generation baked in into your application - anybody will be able to extract ApiSecret and ApiKey from the application and use them to access your entire account.

Could you please record the logs in TRACE level, as described [here](https://github.com/twilio/twilio-chat-demo-android/blob/master/REPORT_BUGS.md)? The log you posted lacks some critical de

[2019-09-20 07:47] PRAVEENPOTLA opened #22 "IOS Build Error Lanching In Physical device 12.4version"
Can't resolve the reference 'Foundation.NSArray Foundation.NSArray::FromNSObjects(!!0[])', referenced from the method 'System.Void ObjCRuntime.Trampolines/NIDMessagesCompletion::Invoke(Twilio.Chat.iOS.Result,Twilio.Chat.iOS.Message[])' in 'Xamarin.iOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04ff9cfb79065'. ChatDemo.iOS

[2019-09-20 08:17] PRAVEENPOTLA commented on #22
Please Help me Anyone Knows

[2019-09-20 08:50] berkus commented on #22
Perhaps related to https://github.com/twilio/TwilioChatXamarinBindings/issues/21#issuecomment-533068760

[2019-09-20 09:36] PRAVEENPOTLA commented on #22
Hi berkus,

We are Using Xcode Version 10.3
Target Device Version 12.4
Xamarin version :  4.12.3
Xamarin.ios version and xamarin Mac SDK : 12.4.0.64

[2019-09-20 09:37] PRAVEENPOTLA commented on #22
@Berkus If possible please reply me fast because it's very urgent for me.

[2019-09-20 17:58] PRAVEENPOTLA commented on #22
Help me fast it urgent for me

[2019-09-21 05:37] sylendra7 commented on #21
Hi @berkus

I already registerd the token liike below as mentiioned in your code
   result.RegisterFCMToken((string) this.twilioChatHelper.GetDeviceToken(), new StatusListeners.RegisterFCMTokenStatusListener());

Also I tessted using pushtry.com with my generated push token for testing the pushnotiification which is working , but from twilio it is not working .

And also you mentioned **"anybody w

[2019-09-21 06:56] sylendra7 commented on #21
@berkus I added the below code in my  in my WebAPI (used Asp.Net Core) now the OnMessageReceived method was called in "FirebaseMessagingService" class implementation .

But even if I'm login to the App or in the particular chat window it is getting fired, How , I can handle only if the app is in background or user is not insiide the chat window ...?

If the user is in Particular chat window Messag

[2019-09-23 07:38] berkus commented on #21
If this code is embedded directly inside your application, anybody would be able to extract `_twilioAccount.AccountSid`, `_twilioAccount.ApiKey`, and `_twilioAccount.ApiSecret` and have full access to your account by signing their own access tokens.

[code]

The token generation is supposed to run on a secure server that you control, not in the end-user application. Please read the [Access Tokens]

[2019-09-23 07:43] berkus commented on #21
See [our demo application](https://github.com/twilio/twilio-chat-demo-android/blob/master/chat-demo-android/src/main/kotlin/com/twilio/chat/demo/services/FCMListenerService.kt#L22-L24) for a description of how it should work in that case.

[2019-09-23 17:42] PRAVEENPOTLA commented on #22
Hi  Berkus,

Please help me  Regarding IOS Bulid Error

On Fri, Sep 20, 2019 at 2:20 PM Berkus Decker <notifications@github.com>
wrote:

[2019-09-24 06:54] berkus commented on #22
Hi

We have tested the issue and it is fixed if you update to the latest versions indicated below; don't forget to restart your Visual Studio so that all updates are applied.

[code]

[2019-09-24 08:57] PRAVEENPOTLA commented on #22
Hi Berkus,
 Xcode version 11.0 is mandatory. right now we have Xcode 10.3 only

[2019-09-25 15:11] PRAVEENPOTLA commented on #22
Hi Berkus,

Thanks for supporting me. It's working fine right now Thank you so much

[2019-09-25 15:14] PRAVEENPOTLA commented on #22
Hi Berkus,
  how to know member is in online or offline and also sent message read or not

[2019-09-26 15:42] PRAVEENPOTLA commented on #22
Hi Berkus,
     In iOS, the message Added method is not firing. when we chat in the channel

[2019-09-30 21:29] PRAVEENPOTLA commented on #22
Please help me Ios message added not firing

[2019-10-12 09:36] Yogeshk25 opened #24 "Sample code for send message to a channel?"
Thanks for this bindable library.

I am facing issue with code for send message,

I tried

[code]

But it gives build error, saying 'Message.Options' does not contains a constructor that takes 0 argument.

can you tell me how to create Options object?

[2019-10-12 11:32] Yogeshk25 commented on #24
Maybe because some conflict in [/Twilio.Chat/Twilio.Chat.Android/Transforms/Metadata.xml](https://github.com/twilio/TwilioChatXamarinBindings/blob/master/Twilio.Chat/Twilio.Chat.Android/Transforms/Metadata.xml)?

in native Message class, can these be conflicting?
[code]

in the generated binding this part is missing,
[code]

Any thoughts?

[2019-10-12 12:11] Yogeshk25 commented on #24
Never mind! I think I found right way to do it.

[code]

[2019-10-12 12:35] #24 closed

[2019-10-18 07:08] berkus commented on #22
@PRAVEENPOTLA great that it worked!

Do you have logs for the case when messageAdded is not firing?

[2019-10-18 07:08] berkus commented on #22
I will close this one, please open a new ticket for the messageAdded case, and add logs if you can.

[2019-10-18 07:08] #22 closed

[2019-10-19 19:21] PRAVEENPOTLA opened #25 "Message added event firing multiple times in xamarin forms"
Only firing in andriod

[2019-11-04 14:22] PRAVEENPOTLA opened #26 "How to get unread message count"
In uncounsumed message Index method always returning zero in andriod. Did not check in iOS

[2019-11-04 14:22] #25 closed

[2019-11-04 14:50] rusmonster commented on #26
Chat does not automatically set the Consumption Horizon. If you do not explicitly set this within your application, no Consumption Horizon will exist for a User within the Channel. Without a Consumption Horizon, your user's Consumption Horizon (read status) will not synchronize correctly across clients. If a user does not have a Consumption Horizon set on a channel, getting unconsumed messages wil

[2019-11-19 20:34] #26 closed

[2019-11-19 20:34] PRAVEENPOTLA commented on #26
Thanks

[2019-11-27 12:21] PRAVEENPOTLA opened #27 "When try to Generate Archive In Xamarin.iOS Project In release Mode . Watch Below image"
![Screenshot_1](https://user-images.githubusercontent.com/43574666/69723037-8bd72a00-113e-11ea-8d4e-bccace2fc0bb.png)

[2019-12-02 18:53] #27 closed

[2020-01-09 05:22] AdilSaiyad opened #28 "Xamarin Android how to handle Twilio chat sending message fail event"
[code]

[2020-04-02 15:50] AlfonChitoSalano opened #29 "Unable to establish connection to Twilio Sync service"
**Description**
When I run the xamarin android application from the sample I get the following error Error 0:1401 Unable to establish connection to Twilio Sync service

**Expected Behavior**
should go to ChatClientCallbackListener OnSuccess method

**Actual Behavior**
throws an error "Error 0:1401 Unable to establish connection to Twilio Sync service"

**Reproduces how Often**
every time

**Androi

[2020-04-02 16:38] thisisthekap opened #30 "android bindings use deprecated version 4.2.3"
The android bindings are using a old deprecated version of the sdk.

Are there plans to update it to the current production one?

[2020-04-02 17:09] berkus commented on #30
Hi!

Yes, we will update Xamarin bindings to use the latest 3.0/5.0 versions of native SDKs asap.

[2020-04-02 17:18] berkus commented on #29
Hi!

This is clearly a problem with your token:

{"method":"close","status":{"code":401,"status":"UNAUTHORIZED","description":"Invalid Access Token","errorCode":20101}}

I see an invalid push_credential_sid in the token:
[code]

Also, it attempts to connect to Chat service instance `IS6c393145995b49f68f14ad5eae80ed1f` which does **not** exist under your account.

I have not checked the validity of

[2020-04-03 00:53] AlfonChitoSalano commented on #29
Please ignore this Chat service instance "IS6c393145995b49f68f14ad5eae80ed1f" because I intentionally delete it for security purpose yesterday. I will just recreate a new one.

Anyway, from your analysis that the grant from token is absolute, is it because of the programmable chat android lib as you could see in this nuget is obsolete already "https://www.nuget.org/packages/Twilio.Chat.Xamarin/".

[2020-04-03 09:36] berkus commented on #30
I can't give you hard estimates, but it would be between 1 to 3 weeks from now, depending on other priorities.

[2020-04-03 09:39] berkus commented on #29
The Xamarin SDK does not generate your tokens, your token generator is obsolete. Which token generator do you use?

[2020-04-03 10:16] AlfonChitoSalano commented on #29
I've just updated the token generator with this one, just this now. I got one success, only one only, but then the next try rest same issue again.

![bb](https://user-images.githubusercontent.com/20876086/78350147-47b9d180-75d7-11ea-9cfa-46e44dd8c0f8.png)

[2020-04-03 11:49] berkus commented on #29
What is in the new token? What is the new error?

[2020-04-03 13:30] AlfonChitoSalano commented on #29
So I got it success already. so the fix was to change script like above to "new ChatGrant". Then I change the code of the example in twilio xamarin to below which gets the token property only. This worked already with no error. So I think this could be closed.
 string chatToken = await _twilioChatHelper.GetTokenProvider().GetToken(IdentityEntry);
 string tokenData = JObject.Parse(chatToken)["token

[2020-04-03 14:52] berkus commented on #29
Ok, great, glad you figured that out!

Closing then. Feel free to open a new one if you have further questions.

[2020-04-03 14:52] #29 closed

[2020-04-28 15:05] thisisthekap commented on #30
@berkus Is there any update concerning this issue?

As this one is key to out twilio integration, any progress would be very much appreciated.

[2020-04-28 15:15] berkus commented on #30
Hi, yes, it's in progress, however some other things took higher priority at the moment. We will  release updated Xamarin bingings ASAP.

[2020-05-11 08:09] thisisthekap commented on #30
@berkus As we depend on this issue to be able to use twilio in production: Can you already provide me any ETA on this?

[2020-05-11 09:53] berkus commented on #30
I'll do my best to finish it this week.

[2020-05-21 18:56] berkus commented on #30
Haven't forgotten about you - still fighting some Android obsoleted packages before I could release it.

[2020-05-28 12:37] AhmedTaha0 commented on #30
Any updates @berkus

[2020-05-28 18:15] berkus commented on #30
Yep, it took me a LOT longer than I expected but I got it updated and now prepping to make a release. It will be followed up by another release immediately afterwards - bumping to new versions 5.1.1 and 3.1.1.

[2020-05-29 20:14] #30 closed

[2020-06-03 00:58] distantcam opened #33 "0.6 Android - Java.Lang.NoClassDefFoundError: Didn't find class "com.getkeepsafe.relinker.ReLinker""
I work for a company that's making a Xamarin Forms app, and we are using the Twilio Chat service in our app.

After upgrading to 0.6 to try and fix another issue, we are now seeing a number of issues with the same exception from our Android customers.

`Java.Lang.NoClassDefFoundError: Didn't find class "com.getkeepsafe.relinker.ReLinker"`

Here's the details from one of the reports in App Center.

[2020-06-03 04:58] thisisthekap commented on #33
Looks kind of similar to https://forums.xamarin.com/discussion/124739/problems-using-twilio-programmable-voice-in-a-xamarin-android-bindings-library. So there seems to be an issue with the Xamarin.Android Binding.

@berkus Could this issue have been introduced when fixing #30?

[2020-06-03 05:04] distantcam commented on #33
Yep so adding the relinker nuget solved the problem. There's no doco about this. The sample was fixed with this commit that has the relevant change buried in it.

https://github.com/twilio/TwilioChatXamarinBindings/commit/a412c2ab7565fe8fc7200e18a2b37ce3186b949b

[2020-06-03 05:07] thisisthekap commented on #33
@distantcam Great! I think this is a workaround we can go with. Anyways, this issue should imho be fixed, or at lease the additional nuget dependency should be carefully documented.

[2020-06-03 07:57] berkus commented on #33
Please take a look at the demo app in this very repository - you need to add ReLinker nuget to your _APP_ dependencies. Unfortunately, it doesn't work if we depend the SDK build on it, so it's a necessary step for end-user to perform.

[2020-06-03 07:58] berkus commented on #33
I will update the readme about it for the next release (which is imminently pending).

[2020-06-03 08:02] distantcam commented on #33
Relinker could be added as a dependency of the nuget package.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element

[2020-06-03 08:05] berkus commented on #33
@distantcam I'll try that, thanks! Lets see if the next version works better with that.

[2020-06-08 16:38] #33 closed

[2020-06-08 17:47] berkus commented on #28
@AdilSaiyad I believe the `base.OnError()` does nothing, you should implement your error handling if you want it to do something.

Having said that, try 0.7.0 - it has better support for error reporting when message sending fails - and you're also allowed to control the actual timeout for sendMessage command.

[2020-06-08 17:50] berkus commented on #33
@distantcam @thisisthekap please test 0.7.0!

[2020-06-10 18:16] mrbelk opened #34 "Xamarin.iOS Update to 0.7.0 fails"
Trying to update this package in my Android and iOS projects and get this error when updating for iOS:

[code]

I can update to 0.7.0 for Android no problem.

[2020-06-10 23:03] berkus commented on #34
Hi, thanks, this could be a mishap on our side, I will take a look soon.

[2020-06-11 00:17] mrbelk commented on #34
OK. Thanks.

________________________
Matthew Belk
ph. 678-287-3315

From: Berkus Decker <notifications@github.com>
Reply-To: twilio/TwilioChatXamarinBindings <reply@reply.github.com>
Date: Wednesday, June 10, 2020 at 7:03 PM
To: twilio/TwilioChatXamarinBindings <TwilioChatXamarinBindings@noreply.github.com>
Cc: Matthew Belk <mbelk@bizspeed.com>, Author <author@noreply.github.com>
Subject: Re: [tw

[2020-06-11 23:11] #34 closed

[2020-06-11 23:17] berkus commented on #34
Please try 0.7.2

[2020-06-12 11:36] pranavtiw opened #37 "TVICameraCapturer Not found and i not able to set Source to Front camera [Question ]."
camera = new TVICameraCapturer(TVICameraCaptureSource.FrontCamera);

localVideoTrack = TVILocalVideoTrack.TrackWithCapturer(capturer:camera,enabled:true,constraints:null,name:null);

This is the way i have done it in previous version .

[2020-06-12 11:47] berkus commented on #37
This is Chat bindings, it doesn't deal with Camera.

[2020-06-12 11:59] #37 closed

[2020-06-12 12:31] pranavtiw commented on #37
Sorry  i wanted to create for Twilio video

[2020-06-12 14:24] berkus commented on #37
No prob )

[2020-06-12 15:14] mrbelk commented on #34
Success. Thanks for getting on this so quickly.

[2020-06-15 07:09] berkus commented on #34
👍

[2020-06-22 07:36] sauravchaudhary94 opened #38 "After updating to 0.7.X Getting Error XA4215"
Till 0.6.0 It is working fine but while updating to 0.7 and above I am getting the below error:
 Error XA4215: The Java type `mono.com.getkeepsafe.relinker.ReLinker_LoadListenerImplementor` is generated by more than one managed type. Please change the [Register] attribute so that the same Java type is not emitted.

[2020-06-22 08:31] berkus commented on #38
1. How are you adding it to your project?

2. Do you have a manually added relinker dependency?

[2020-06-22 08:49] sauravchaudhary94 commented on #38
1. I am adding nuget package to the project and handled callback , As It is working till 0.6.0 version.
2. Yes I have added relinker for twilio video chat library Xbindings.Relinker.Droid(1.2.3).

[2020-06-22 08:55] berkus commented on #38
2. Try removing it.

I suspect you are importing two incompatible relinker versions there.

[2020-06-22 08:56] sauravchaudhary94 commented on #38
If I remove It I will get error in Video Chat It seems.

[2020-06-22 09:00] berkus commented on #38
1. Have you actually tried removing it?

2. Can you try adding exactly the same dependency for video chat as this project uses? Maybe if it's the same package it could resolve it to a single dependency instead of two incompatible ones.

[2020-06-22 09:11] sauravchaudhary94 commented on #38
1. After removing and updating video binding to 4.3.X It seems to be working from my end. But Once regression testing will be done I can be sure like Video is not breaking and It is working .
But May I know why we didn't get this error till 0.6.0?

Thanks for your help :)

[2020-06-22 09:25] berkus commented on #38
Sure, 0.6.0 did not use separate ReLinker dependency on android, it was built in, old and not updated. We switched to external dependency to make it easier to update and fix ReLinker issues if they come up.

As far as I know ReLinker folks claim their tool is not needed on modern Android API versions (API 23 and above), but given that there are very many vendors, who can do badly things that ReLin

[2020-06-29 07:00] Izikio opened #39 "MessagesCallbackListener throws a cast exception."
`channel.Messages.GetLastMessages(10, new MessagesCallbackListener(this, channel));`

The above line throws an error. Its seems when the callback listener is called, the conversion doesn't happen correctly.
**The object should be IConvertible**

On the original Xamarin binding:
`if (typeof(T).GetGenericTypeDefinition().Equals(typeof(IList<>)) &&                javaObject.GetType().Equals(typeof(An

[2020-06-29 07:26] berkus commented on #39
Thanks!

We need to review that conversion code, please post if you find anything else!

[2020-06-29 08:06] Izikio commented on #39
Yup. Will keep you posted.

I had a similar issue with this type reflection comparison last year. I'll try and hunt down how i had addressed it. Reflection with generics ends up being a little messy.

Also, fantastic work on your library.

[2020-07-02 09:54] berkus commented on #38
Closing it, since all seems fine now.

[2020-07-02 09:54] #38 closed

[2020-08-28 04:17] JoeDurand3 opened #40 "iOS: Native linking failed errors"
Trying to build iOS project including version 0.7.2 and getting these errors of this variety:

[code]

Any suggestions?

edit: code format

[2020-08-28 07:29] berkus commented on #40
Hi!

Did you install it through NuGet? Looks like some binary libraries are missing.

[2020-08-31 00:33] JoeDurand3 commented on #40
Hello!

I did install via NuGet. Would you suggest building from source instead?

Full error list, also attached:
`Severity	Code	Description	Project	File	Line	Suppression State
Error		Native linking failed. Please review the build log and the user flags provided to gcc: -Xlinker -sectcreate -Xlinker __TEXT -Xlinker __entitlements -Xlinker /Users/USERNAME/Library/Caches/Xamarin/mtbs/builds/APPNAME.

[2020-08-31 06:42] berkus commented on #40
No, I don't think building from source is intended use of this package, I recommend installing from NuGet, of course.

What architecture are you building?

[2020-08-31 06:43] berkus commented on #40
Ah, I see, this is the problem - x86 is no longer supported.

[2020-09-01 01:13] JoeDurand3 commented on #40
That was it! Thank you very much!

I went to iOS project properties > iOS Build > Supported Architectures and changed from "i386 + x86_64" to "x86_64"

[2020-09-01 01:14] #40 closed

[2020-12-17 18:42] bbhxwl opened #43 "I have an Android connection VPN code. After binding, if there is no connection status event, can you bind it for me?"
I have an Android connection VPN code. After binding, if there is no connection status event, can you bind it for me?

[2021-01-05 00:41] berkus commented on #43
@bbhxwl can you please elaborate? I do not understand what you mean.

[2021-01-14 15:41] hitesh399 commented on #21
I am also facing the same problem, Like When I am sending the notification through firebase console then It received on mobile But When I am using the twilio service for same then push notification is not coming and also checked log there status is showing "sent"

I am unable to find any documentation related to it.

[2021-03-05 12:21] Kostanos commented on #21
Facing the same issue as @hitesh399, firebase never receives messages from twilio, but twilio shows no errors on logs with status sent.

[2021-05-07 10:01] berkus commented on #21
@hitesh399 @Kostanos please check that you have registered proper production credentials  in the console - most often case is when sandbox test credentials  are used in prod, they won't work there.

Just double check  the FCM or APNS  creds really belong to the account you're running them on.

[2021-05-24 18:07] walterholohan commented on #21
@Kostanos @hitesh399 were you able to solve this issue? We are experiencing the same issue. We are not receiving push notifications from Twillio but we can receive them we sending directly from firebase.

[2021-05-24 18:59] Kostanos commented on #21
@walterholohan unfortunately we abandoned Twilio and using now firebase directly.

[2021-05-24 21:33] walterholohan commented on #21
@berkus is there an easy way of debugging what payload is been sent from Twilio to Firebase? The logs show that the FCM notification was sent but we get no notification on the Android device. FYI we are using a React-Native Android App.

[2021-05-25 14:38] networkinterfacecontroller commented on #21
Hi all, this looks like a configuration issue of some kind. We'll need to examine each case individually with our support team. If you still need assistance, please submit a support ticket here: https://www.twilio.com/console/support/tickets/create. Thanks!

[2021-09-08 11:45] jhud commented on #21
I had no luck with either these suggestions, or support. So now I just use the FCM libraries directly and dropped Twilio. Now I only need 1 extra database table to store device IDs, and FCM "just works".